* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --MAIN-BGCOLOR-START: #B5179E;
  --MAIN-BGCOLOR-END: #4CC9F0;

  --BOX-SHADOW: #00000067;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  user-select: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, var(--MAIN-BGCOLOR-START), var(--MAIN-BGCOLOR-END));
}

#main {
  width: 80%;
  height: 550px;
  background-color: hsla(0, 0%, 0%, 0.65);
  color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 1000px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  text-wrap: nowrap;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  padding: 1rem;
  display: block;
  font-weight: 700;
}

ul li a:any-link {
  text-decoration: none;
  color: #fff;
}

#form-container {
  height: 90%;
  width: 100%;
}

#form-container form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#form-container section {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

#message-container {
  flex: 1;
}

label {
  margin-left: 0.25rem;
  font-size: 1.25rem;
  padding: 0.25rem;
}

input {
  font-size: 1.25rem;
  padding: 0.3em 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 0 3px 2px var(--BOX-SHADOW);
}

textarea {
  height: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
}

#submit-button {
  margin-top: 0.5rem;
  background-color: #2540C7;
  color: #fff;
  cursor: pointer;
}

#submit-button:focus {
  background-color: #fff;
  color: #2540C7;
}

footer {
  min-height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  resize: none;
}