* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --MAIN-BGCOLOR-START: #B5179E;
  --MAIN-BGCOLOR-END: #4CC9F0;

  --BOX-SHADOW: #00000067;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  user-select: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, var(--MAIN-BGCOLOR-START), var(--MAIN-BGCOLOR-END));
}

#main {
  width: 80%;
  height: 550px;
  background-color: hsla(0, 0%, 0%, 0.65);
  color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 1000px;
  min-width: 586px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  text-wrap: nowrap;
}

header h1 {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  padding: 1rem;
  display: block;
  font-weight: 700;
}

ul li a:any-link {
  text-decoration: none;
  color: #fff;
}

#form-container {
  height: 90%;
  width: 100%;
}

#form-container form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#form-container section {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

#message-container {
  flex: 1;
}

label {
  margin-left: 0.25rem;
  font-size: 1.25rem;
  padding: 0.25rem;
}

input {
  font-size: 1.25rem;
  padding: 0.4em 1rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 0 3px 2px var(--BOX-SHADOW);
}

textarea {
  height: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
}

#submit-button {
  margin-top: 0.5rem;
  background-color: #2540C7;
  color: #fff;
  cursor: pointer;
}

#submit-button:focus {
  background-color: #fff;
  color: #2540C7;
}

footer {
  min-height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  resize: none;
}

header .menu-button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: #fff;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
}

.menu-icon::before{
  transform: translate(-20px, -12px);
}

.menu-icon::after{
  transform: translate(-20px, 12px);
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon {
  background-color: transparent;
  transform: rotate(720deg);
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon:before {
  transform: translateX(-20px) rotate(45deg);
}

:is(.menu-button:hover, .menu-button:focus-within) .menu-icon:after {
  transform: translateX(-20px) rotate(-45deg);
}

:is(.menu-button:hover, .menu-button:focus-within) .side-bar {
  display: block;
}

.side-bar {
  background-color: rgba(0, 0, 0, 0.767);
  display: none;
  transform-origin: top center;
  animation: showMenu 0.5s ease-in-out forwards;
}

@keyframes showMenu {
  0% {
    right: -200px;
  }

  100% {
    right:  0;
  }
}

@media only screen and (max-width: 768px) {
  header .menu-button {
    display: flex;
  }
  header #menu-list {
    display: none;
  }
  .side-bar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: 1000;
  }
  #menu-side-list {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #main {
    width: 100%;
    min-width: auto;
    border-radius: 0;
    box-shadow: 0 0 3px 2px var(--BOX-SHADOW);
    padding: 1rem;
  }
  .img-container {
    display: none;
  }

}