body{
  font-family: Arial;
  margin: 0;
  padding: 0;
  user-select: none;
  margin-top: 80px;
}

html{
  scroll-behavior: smooth;
}

h1{
  text-decoration: underline;
}

h3{
  text-decoration: underline;
}

/* header */

header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 2px 5px;
  justify-content: center;
}

.header-container{
  width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.header-logo{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(30, 30, 30);
  text-shadow: 0 0 20px black;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.header-navigation{
  display: flex;
  position: absolute;
  right: 0;
}

.nav-link{
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
  text-shadow: 0 0 20px black;
}

.nav-link a{
  color: rgb(30, 30, 30);
  text-decoration: none;
}

.nav-link a:hover{
  cursor: pointer;
  color: rgb(60, 60, 60);
}

/* main */

main{
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-welcome{
  height: 500px;
  width: 100%;
  position: relative;
}

.main-welcome .welcome-image{
  height: 900px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.main-welcome .welcome-image-show{
  opacity: 0.2;
  transition: opacity 2s;
}

.main-welcome .welcome-text{
  position: absolute;
  left: 20%;
  right: 20%;
  top: 40%;
  color: white;
  font-size: 36px;
  text-align: center;
  font-style: italic;
}


.container{
  background-color: rgb(224, 224, 224);
  display: grid;
  column-gap: 50px;
  text-align: center;
  height: 400px;
  width: 1000px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  z-index: 100;
  box-shadow: 0 0 3px;
}

/* about me */

.container.about-me{
  grid-template-columns: 1fr 400px;
}

.about-me-container .content{
  text-indent: 20px;
  text-align: justify;
  font-size: 20px;
}

/* my skills */

.container.my-skills{
  grid-template-columns: 400px 1fr;
}

.my-skills-container .content{
  text-indent: 20px;
  text-align: justify;
  font-size: 20px;
}

/* contact */

.container.contact{
  grid-template-columns: 1fr 400px;
  position: relative;
}

.contact-container{
  align-self: baseline;
  margin-top: 30px;
}

.contact-container .content{
  text-indent: 20px;
  text-align: justify;
  font-size: 20px;
}

.phone-number{
  position: absolute;
  left: 50px;
}

.phone-number .number-request{
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(30, 30, 30);
  border: solid 1px black;
  color: white;
  text-shadow: 0 0 5px black;
  margin-bottom: 5px;
}

.phone-number .number-request:active{
  background-color: white;
  color: rgb(30, 30, 30);
  text-shadow: none;
}

.phone-number .number{
  display: none;
  margin: auto;
  white-space: nowrap;
  user-select: text;
  text-align: left;
}

.phone-number .number.hidden{
  display: inherit;
  font-size: 20px;
  overflow: hidden;
  animation-name: hide;
  animation-duration: 2s;
  animation-direction: normal;
  width: 0;
}

.phone-number .number.shown{
  display: inherit;
  font-size: 20px;
  overflow: hidden;
  animation-name: show;
  animation-duration: 2s;
  animation-direction: normal;
  width: 155px;
}

@keyframes show{
  from {width: 0;}
  to {width: 155px;}
  0%{
    border: none;
  }
  1%{
    border-right: solid 1px black
  }
  100%{
    border-right: solid 1px black;
  }
}

@keyframes hide{
  from {width: 155px; }
  to {width: 0;}
  0%{
    border-right: solid 1px black;
  }
  99%{
    border-right: solid 1px black
  }
  100%{
    border: none;
  }
}

#mail,
#msg{
  display: block;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  width: 390px;
  font-size: 16px;
  border: solid 1px black;
}

#mail{
  height: 26px;
}

#msg{
  height: 240px;
}

.form-container{
  text-align: left;
  font-size: 20px;
} 

.send-button{
  border-radius: 5px;
  width: 100px;
  height: 36px;
  font-size: 18px;
  background-color: rgb(30, 30, 30);
  border: solid 1px black;
  color: white;
  text-shadow: 0 0 5px black;
  cursor: pointer;
}

.send-button:active{
  background-color: white;
  color: rgb(30, 30, 30);
  text-shadow: none;
}

.form-container textarea{
  resize: none;
}

/* about me & my skills images & contact*/

.image-container{
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 3px;
  transition: scale 0.5s;
}

.image-container img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-container:hover{
  scale: 1.1;
}

/* container projects start */

.container-projects{
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
  width: 1000px;
  padding: 50px;
  border-radius: 30px;
  z-index: 100;
  box-shadow: 0 0 3px;
}

.container-projects .text{
  height: 50px;
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: bold;
  text-decoration: underline;
}

.container-projects .slider{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  max-width: 1000px;
  width: 100%;
  position: relative;
  border-radius: 20px;
}

.container-projects .slider .carousel{
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1000px;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  border-radius: 20px;
  transition: transform, 0.5s;
  box-shadow: 0 0 3px;
}

.container-projects .slider .carousel:hover{
  scale: 1.013;
  cursor: pointer;
}

.carousel::-webkit-scrollbar{
  display: none;
}

.carousel.transition{
  scroll-behavior: smooth;
}

.carousel.no-transition{
  scroll-behavior: auto;
}
.carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: smooth;
}

.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}

.container-projects .slider .carousel .card{
  list-style: none;
  height: 100%;
  scroll-snap-align: start;
  position: relative;
}

.container-projects .slider .carousel .card .card-text{
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  opacity: 0;
  transition: opacity, 0.8s;
  text-shadow: 0 0 10px black;
}

.container-projects .slider .carousel .card .card-text:visited{
  color: white;
}

.container-projects .slider .carousel .card:hover .card-text{
  opacity: 1;
}

.container-projects .slider .carousel .card .image{
  height: 570px;
  overflow: hidden;
  background-color: black;
}

.container-projects .slider .carousel .card .image img{
  height: 570px;
  width: 1000px;
  object-fit: cover;
  transition: opacity 0.5s;
}

.container-projects .slider .carousel .card:hover .image img{
  opacity: 0.5;
}


.container-projects .slider .scroll-left{
  position: absolute;
  height: 50px;
  width: 50px;
  left: -25px;
  top: 260px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px;
  z-index: 10;
  cursor: pointer;
  font-size: 24px;
}

.container-projects .slider .scroll-right{
  position: absolute;
  height: 50px;
  width: 50px;
  right: -25px;
  top: 260px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px;
  z-index: 10;
  cursor: pointer;
  font-size: 24px;
}

.container-projects .slider .scroll-right:hover,
.container-projects .slider .scroll-left:hover{
  background-color: rgb(40, 40, 40);;
  color: white;
  box-shadow: 0 0 5px rgb(40, 40, 40);;
}

.container-projects .slider .scroll-right:active,
.container-projects .slider .scroll-left:active{
  background-color: white;
  color: rgb(40, 40, 40);;
  box-shadow: 0 0 5px white;
}

/* container projects end */

.buffer{
  height: 150px;
  width: 100%;
  position: relative;
}

.buffer .between-containers-image{
  height: 800px;
  width: 100%;
  object-fit: cover; 
  position: absolute;
  top: -400px;
  z-index: 1;
}

/* footer */

footer{
  background-color: black;
  height: 340px;
  color: white;
  padding-top: 60px;
}

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  width: 1000px;
  margin: auto;
}

.footer-sources a:visited,
.footer-shorts a:visited{
  color: white;
}

.footer-sources a:link,
.footer-shorts a:link{
  color: white;
}

.copyright{
  margin-top: 20px;
  text-align: center;
}

/* responsive */

@media screen and (max-width: 992px) {
  .header-container{
    width: 700px;
  }

  .container-projects,
  .container{
    width: 600px;
  }

  .container.about-me,
  .container.my-skills{
    grid-template-columns: 1fr;
    height: 800px;
  }
  .about-me-container{
    margin-bottom: 30px;
  }

  .image-container{
    width: 90%;
    height: 95%;
    margin: auto;
  }

  .container-projects .slider{
    max-width: 700px;
  }

  .container-projects .slider .carousel{
    grid-auto-columns: 600px;
  }

  .container-projects .slider .carousel .card .image img{
    width: 600px;
    height: 100%;
  }

  .container-projects .slider .carousel .card .card-text{
    width: 100%;
  }

  .container.contact{
    grid-template-columns: 1fr;
    height: 700px;
  }

  .phone-number{
    left: 10%;
    right: 10%;
  }

  .form-container{
    justify-self: center;
  }

  .footer-container{
    width: 700px;
  }
}

@media screen and (max-width: 768) {
  
}

@media screen and (max-width: 600) {
  
}